[importlinter]
root_package = plant_id
include_external_packages = True

[importlinter:contract:domain-independence]
name = Domain independence
type = forbidden
source_modules =
    plant_id.domain
forbidden_modules =
    plant_id.application
    plant_id.infrastructure
    plant_id.interfaces

[importlinter:contract:application-independence]
name = Application independence
type = forbidden
source_modules =
    plant_id.application
forbidden_modules =
    plant_id.infrastructure
    plant_id.interfaces

[importlinter:contract:infrastructure-independence]
name = Infrastructure independence
type = forbidden
source_modules =
    plant_id.infrastructure
forbidden_modules =
    plant_id.application
    plant_id.interfaces

[importlinter:contract:interfaces-cli-independence]
name = Interfaces CLI independence
type = forbidden
source_modules =
    plant_id.interfaces.cli
forbidden_modules =
    plant_id.infrastructure
allow_indirect_imports = true

[importlinter:contract:interfaces-cli-domain-independence]
name = Interfaces CLI domain independence
type = forbidden
source_modules =
    plant_id.interfaces.cli
forbidden_modules =
    plant_id.domain
allow_indirect_imports = true
